* {
    font-family: arial;
    font-size: 16px;
}

body {
    background-color: aquamarine;
}

main {
    background-color: beige;
    width: 500px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px rgb(37, 16, 16);
}

img.lado {
    float:right;
}